manifest {

    name = 'CYP2D6 Pharmacogenomics Pipeline'

    author = 'Mubiala, Senkere, Kukungama, Wizamo, Luveto '

    description = 'Bioinformatics workflow for CYP2D6 pharmacogenomic analysis'

    version = '1.0'
}

process {

    executor = 'local'
}

timeline {

    enabled = true

    file = 'results/timeline.html'
}

report {

    enabled = true

    file = 'results/report.html'
}

trace {

    enabled = true

    file = 'results/trace.txt'
}